body {
    margin: 0;
    padding: 0;
}

.bg {
    background: linear-gradient(red, blue, purple);
    height: 100vh;
    position: relative;
}

.inner {
    width: 100px;
    height: 100px;
    background: radial-gradient(red, blue, purple);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 30px;
    color: gray;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid white;
}